{% extends "inventory/base.html.twig" %}

{% block itemsListClass %}is-active
{% endblock %}

{% block tableThead %}
<th>ID</th>
<th>Obrázek</th>
<th>Název</th>
<th>Výrobce</th>
<th>Typ</th>

{% endblock %}

{% block test %}

{{ form_start(addItemInfo, {'attr': {'autocomplete' : 'off'}}) }}
<div class="autocomplete">
    {{ form_widget(addItemInfo.item) }}
</div>
{{ form_end(addItemInfo) }}

{% endblock %}