<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Home-control app
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('styles/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% include "nav.html.twig" %}
		{% block body %}{% endblock %}
		{% block scripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{{ asset('scripts/index.js') }}"></script>
		{% endblock %}
	</body>
</html>
